@media(min-width:630px) and (max-width:900px){
   
    .logo{
       height: 32px;
        width: 60px;
    }
    .mynow{
        
position: relative;
    animation-name: firstanimation;
    animation-duration: 100s;
animation-direction:alternate-reverse;
    animation-delay:0s;
    animation-iteration-count: infinite;
    }
       @keyframes firstanimation{
        to{color: rgb(255, 0, 0);}
        from{color: blue;}
        from{left:0px;}
   to{left: 7px;}
    } 
    .animation-direc{
        background-image: url('https://th.bing.com/th/id/OIP.Dxvb6XFmhrLj4W4V3Ed8zQHaD9?w=292&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7');
        border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
    margin-left: 4px;
    margin-top: 7px;
  
    }
    .address-first{
        color: #cccccc;
        font-size: 0.55rem;
        margin-left: 4x;
    }  
    .address-second{
        font-size: 0.66rem;
        color: white;
       margin-left: 3px;
    }
    .add-icon{
        font-size: 0.6rem;
    }
.nav-search{
    width: 260px;
    height: 30px;
   
}
.search-select{
     width: 40px;
}
.search-input{
   font-size: 0.9rem;
}
.search-icon{
    width: 30px;
    font-size: 0.8rem;
}
.world{
    font-size: 10px;
}
.text-language{
    margin-left: 0px;
    font-size: 10px;
}
span{
    font-size: 10px;

}
.nav-second{
    font-size: 10px;
}
.nav-cart i {
  font-size: 20px;
}
.nav-cart{
    font-size: 0.65rem;
    font-weight: 700px;
}
.panel{
    height: 34px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.panel a{
    color: white;
    text-decoration: none;
}
.panel-ops p{
    display: inline;
    margin-left: 18px;
    font-size: 0.75rem;   
}
.panel-all{
    margin-right: 10px;
    font-size: 13px;
}
.panel-ops{
width: 70%;
}
.panel-deals{
    font-size: 0.5rem;
}
.hero-section{   background-image: url('RamGod.jpeg');
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }
    .hero-msg{
        background-color: white;
        color: black;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        width: 90%;
      margin-bottom: 20px;
    }
    .hero-msg a{
        color: #007185;
        font-size: 13px;
        text-decoration: none;
    }
    
    .shop-section{
        width: 100%;
        display: flex;
        justify-content: space-around;
    background-color: #e2e7e6;
    }
    .box{
     height: 180px;
     width: 21%;
    padding: 7px ;
    margin-left: 0px;
    background-color: white;
    margin-bottom: 9px;
    margin-right: 0px;  
    }
    .Box-img{
      
        height: 140px;
        width: 127px;
        background-size: cover;
        background-repeat: no-repeat; 
    margin-top: 5px;
    margin-right: 3px;
    margin-left: 5px;
    margin-bottom: 0.5rem;
    
    }
    .box-img{
        height: 130px;
        width: 130px;
        background-size: cover;
        background-repeat: no-repeat; 
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 1rem;
    
    }
    .see1{
        font-size: 12px;
        margin-left: 20px;
    }
    footer{
        margin-top: 20px;
    }
    .foot-panel1{
        background-color: #37475a;
        color: white;
        height: 43px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foot-panel2{
        background-color: #222f3d;
        color: white;
        height: 300px;
        font-size: 11px;
        display: flex;
        justify-content: space-evenly;
        
    }
    ul{
        margin-top: 30px;
        margin-bottom: 1px;
    }
    ul a{
        display: block;
        margin-top: 6px;
    }
    .foot-panel3{
        border-top: 1px outset white;
        background-color: #232f3d;
        height:80px ;
        display: flex;
        color: #dddddd;
        justify-content: center;
        align-items: center;
    }
    .logo2{
        background-image: url('amazon.jpg');
    background-size: cover;
        height: 40px;
        width: 80px;
        margin-left: 0px;
    }
    .foot-arrange{
        width: 40%;
        display: flex;
        margin-left: 30px;
       }
    .border2{
        margin-left: 10px;
        padding-top: 2px;
        padding-right: 11px;
        padding-bottom: 7px;
        padding-left: 11px;
        border: 1.2px solid white;
        }
    .foot-panel4{
        background-color: #121A22;
        height: 100px;
        font-size: 13px;
       
    }
    .foot-panel4 p{
        color: white;
    
    }
    .foot-panel4 a{
        font-size: 12px;
        color: #999999;
    }
    .panel4-content1{
    display: flex;
    justify-content: space-evenly;
    }
    .panel4-content{
        width: 100px;
        margin-top: 30px;
    }
   
    .foot-panel5{
        background-color: #121A22;
        color: white;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pages{
        padding-bottom: 10px;
    }
    /* Main box */
    .main-box{
        height: 320px;
        width: 100%;
        background-color: #e2e7e6;
    }
    .big-box{
           
        padding: 8px;
        height: 250px;
        width: 98%;
        margin-left: 4px;
        margin-top: -25px;
    }
 
   .last{
    margin-left: 0px;
   }
 
    .set-margin{
        background-color: white;
    }
    .big-box h3{
         margin-left: 40px;
         padding-top: 9px;
         margin-top: 20px;
    }
    .image-size{
        height: 250px;
    background-image:url('high.jpg');
    background-size: cover;
    }
    
    .main-box{
        height: 200px;
        width: 100%;
        background-color: #e2e7e6;
    }
    .big-box{
           
        padding: 8px;
        height: 130px;
        width: 98%;
        margin-left: 4px;
        margin-top: -25px;
    }
    .set-margin{
        background-color: white;
    }
    .big-box h3{
         margin-left: 40px;
         padding-top: 9px;
         margin-top: 20px;
    }
    .image-size{
        height: 130px;
    background-image:url('high.jpg');
    background-size: cover;
    }
    
    
    
    
}
